<div class="row">
  <div class="col s12 m6">
    <div class="video_form">
        <img id="bg_img" src="https://img.thedailybeast.com/image/upload/c_crop,d_placeholder_euli9k,h_1439,w_2560,x_0,y_0/dpr_1.5/c_limit,w_1044/fl_lossy,q_auto/v1492119811/articles/2016/02/12/you-re-damn-right-electability-matters-to-black-voters/160211-goff-electability-tease_n7mdtd">
        <div id="overlay"> </div>
    </div>
  </div>
  <div class="s12 m6" style="position:fixed; background-color: white;left: 50%; height 100%; padding: 10% 10%; width: 50%">

    <h2 style="font-family: Questrial"> Welcome! </h2>
    <%= form_for @video do |f| %> 
      <%= f.text_field :comment, placeholder: "What text would you like to add with your video?" %>
      <%= f.file_field :attachment %> 
      <%= f.hidden_field :quality , value: false %>
      <%= f.hidden_field :shareable , value: false %>
      <%= f.submit "Submit your video for review" , class: "btn large red white-text" , style:"margin: 10%; border-radius: 20px" %> 
      <% end %> 
      
      <p> <%= link_to "Logout", destroy_user_session_path, method: :delete  %> </p>
    
  </div>
</div>

<style>
  #bg_img{
    position:fixed;
    width: 100%;
    height: 100%;
    left:0;
    opacity: .7;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    z-index: -3;
  }
  ::placeholder {
    color: grey ;
  }
  
  
  #overlay {
    position:fixed;
    width: 100%;
    height: 100%;
    z-index: -2;
    left:0;
    opacity: .7;
    background-color: black;
  }
</style>