<div class="row">

  <div class="s12 m6" style="background-color: white;height 100%; padding: 10% 10%;">

    <h2 style="font-family: Questrial; text-align: center"> Why do you care? </h2>
    <%= form_for @video do |f| %> 
      <%= f.text_field :phone , placeholder: "Mobile Number to received your reviewed video", required: true %> 
      <% if params[:campaign]%> 
         <%= f.hidden_field :campaign_id, value: Campaign.find_by_name(params[:campaign]).id %>
        <% else %>
          <%= f.collection_select :campaign_id , Campaign.all, :id, :name %> 
        <% end %> 
      <%= f.text_area :comment, placeholder: "What text would you like to add with your video?", required: true  %>
      <%= f.file_field :attachment, required: true  %> 
      <%= f.hidden_field :quality , value: false %>
      <%= f.hidden_field :shareable , value: false %>
      <%= f.submit "Submit your video for review" , class: "btn large red white-text" , style:"margin: 10%; border-radius: 20px" %> 
      <% end %> 
      
      <p> <%= link_to "Logout", destroy_user_session_path, method: :delete  %> </p>
    
  </div>
</div>

<style>
  #bg_img{
    position:fixed;
    width: 100%;
    height: 100%;
    left:0;
    opacity: .7;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    z-index: -3;
  }
  ::placeholder {
    color: grey ;
  }
  
  
  #overlay {
    position:fixed;
    width: 100%;
    height: 100%;
    z-index: -2;
    left:0;
    opacity: .7;
    background-color: black;
  }
  
  select{
    display: block;
  }
</style>