<p id="notice"><%= notice %></p>

<p>
  <strong>Phone:</strong>
  <%= @checkin.phone %>
</p>

<p>
  <strong>Hotel:</strong>
  <%= @checkin.hotel_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @checkin.name %>
</p>

<%= link_to 'Edit', edit_checkin_path(@checkin) %> |
<%= link_to 'Back', checkins_path %>
